@model IList<TyresStore.Repository.Models.Tyre>

@if (Model.Count > 0)
{
<div class="table">
    <table style="width: 100%">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Season</th>
                <th>Art code</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tyre in Model)
            {
                <tr>
                    <td>@tyre.Brand</td>
                    <td>@tyre.Season</td>
                    <td>@tyre.ArticleCode</td>
                    <td>@tyre.Price</td>
                    <td class="button-select">
                          <button type="button" class="btn btn-default btn-md" onclick="mainModel.updateCart(@tyre.ID, '@tyre.Brand')">Add to cart  <span class="glyphicon glyphicon-upload"></span></button>
                      </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}
